@page "/TenantManagement"
@using Microsoft.Extensions.Localization
@using global::Volo.Abp.TenantManagement.Localization
@inject IStringLocalizer<AbpTenantManagementResource> L
@{
}
<h1>TenantManagement</h1>
<p>@L["SamplePageMessage"]</p>